<p *ngIf="department$| async as department">{{department.name}}</p>
<form class="example-form" #myForm="ngForm" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName="name"
             placeholder="Department Name"  [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">
      <mat-hint>Errors appear instantly!</mat-hint>
      @if (submitted && f['name'].errors) {
        <mat-error>Email is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <input type="text" matInput formControlName="desc"
             placeholder="Department Description" [ngClass]="{ 'is-invalid': submitted && f['desc'].errors }">
      <mat-hint>Errors appear instantly!</mat-hint>
       <mat-error *ngIf="f['desc'].errors && f['desc'].errors['minlength']">
        Description must be at least 6 characters
      </mat-error>
      <mat-error *ngIf="f['desc'].errors && f['desc'].errors['maxlength']">
        Description must not exceed 20 characters
      </mat-error> 
      <mat-error *ngIf="submitted && f['desc'].errors && f['desc'].errors['required']">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Save</button>
      <button
        type="button"
        (click)="onReset()"
        class="btn btn-warning"
      >
        Reset
      </button>
    </div>
  </form>
  
